<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% block css %}
        <link href="{% static 'restaurant/CSS/normalize.css' %}" rel="stylesheet">
        <link href="{% static 'restaurant/CSS/styles.css' %}", rel="stylesheet">
    {% endblock %}
    <title>OPizza! | MainPage</title>
</head>
<body>

    <header>
        {% block header %}
            <section class="section--logos">
                <a href="{% url 'restaurant:restr' %}">
                    <img class="pizza-icon" src="{% static 'restaurant/images/pizza.png' %}">
                    <span>OPizza!</span>
                </a>
            </section>
            <section class="section--search-bar">
                
            </section>
            <section class="section--additional">
                <a class="section--additional__a" href="#">About us</a>
                <a class="section--additional__a" href="#">Doc</a>
                <a class="section--additional__a" href="#">Menu</a>  
            </section>
        {% endblock %}
    </header>
    
    <main>
        {% block content %}
            <section class="section--main">
                {% for r in restaurants %}
                    <article>
                        <div class="section--main__article">
                            <div class="section--main__article__image">
                                {{ r.image }}
                            </div>
                            <div class="sections--main__article__info">
                                {{ r.name }}<br>
                                {{ r.rating }}
                            </div>
                        </div>
                    </article>
                    <hr>
                {% endfor %}
            </section>
        {% endblock %}
    </main>
        
    <footer>
        {% block footer %}
            <section class="section--footer">
                <div class="section--footer__info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque deserunt nesciunt distinctio laboriosam perferendis excepturi esse, ad ducimus deleniti labore tenetur vitae accusamus, illo totam saepe, recusandae consectetur. Placeat, temporibus.
                </div>
            </section>
        {% endblock %}
    </footer>
    
</body>
</html>