<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/restaurant/CSS/styles.css">

    <title>OPizza! | MainPage</title>
</head>
<body>
    <header>
        <section class="section--header">
            <h1>Hi, dear</h1>
        </section>
    </header>
    <main>
        <section class="section--main">
            {% for r in rstr %}
                <article>
                    <div class="section--main__article">
                        {{ r.name }}<br>
                        {{ r.rating }}
                    </div>
                </article>
                <hr>
            {% endfor %}
        </section>
    </main>
    <footer>
        <section class="section--footer">
            <div class="section--footer__info">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque deserunt nesciunt distinctio laboriosam perferendis excepturi esse, ad ducimus deleniti labore tenetur vitae accusamus, illo totam saepe, recusandae consectetur. Placeat, temporibus.
            </div>
        </section>
    </footer>
</body>
</html>